<div class="buttons">
    <button (click)="toggleMansions()">Mansions</button>
    <button (click)="toggleContemporarys()">Contemporaries</button>
</div>

<div >
    <div class="cards" *ngIf="showMansions"  >
        <div  class="card" *ngFor="let mansion of mansions">
            <h2 class="text">{{mansion.name}}</h2>
            <h3 class="text">price: {{mansion.cost}}</h3>
            <img src="{{mansion.pic}}" /> 
        </div>
    </div>

    
    <div class="cards"  *ngIf="showContemporarys">
        <div class="card" *ngFor="let contemporary of contemporarys" >
            <h2 class="text">{{contemporary.name}}</h2>
            <h3 class="text">price: {{contemporary.cost}}</h3> 
            <img src="{{contemporary.pic}}" />
        </div>
    </div>
</div>